@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
:root {
  --color_main: #4aadcc;
  --color_key: #83d19e;
  --color_point: #fdB937;
  --color_bg: #f5f3f3;
  --color_gray_1: #6b6b6b;
  --color_gray_2: #ababab;
  --color_link: #402bd8;
  --color_balloon: #f5f3f3;
  --color_border_1: #c2c2c2;
  --color_border_2: #ababab;
  --ff-base: "Noto Sans JP", sans-serif;
  --ff-en: "Poppins", sans-serif;
  --contents-space: 80px;
  --r: 24.5px;
  --graph-color1: #cefa88;
  --graph-color2: #bfea7c;
  --graph-color3: #9bcf53;
  --graph-color4: #548b21;
  --graph-a-value: 25%;
  --graph-b-value: 50%;
  --graph-o-value: 75%;
  --graph-ab-value: 100%;
  --graph-color-first: #548b21;
  --graph-color-second: #9bcf53;
  --graph-color-third: #bfea7c;
}

.l-tempMain {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 550px 1fr;
}
@media screen and (max-width: 1024px) {
  .l-tempMain {
    grid-template-columns: 1fr 550px;
  }
}
@media screen and (max-width: 820px) {
  .l-tempMain {
    grid-template-columns: 1fr 480px;
  }
}
.l-tempMain__con--l {
  position: relative;
  overflow-y: auto;
  background-color: var(--color_main);
}
@media screen and (max-width: 600px) {
  .l-tempMain__con--l {
    display: none;
  }
}
.l-tempMain__con--m {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 550px;
  background-color: #fff;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.4));
}
@media screen and (max-width: 1024px) {
  .l-tempMain__con--m {
    max-width: initial;
  }
}
@media screen and (max-width: 600px) {
  .l-tempMain__con--m {
    max-width: 100vw;
  }
}
.l-tempMain__con--r {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .l-tempMain__con--r {
    display: none;
  }
}
.l-tempMain__wrap {
  position: fixed;
  height: 100vh;
}
.l-tempMain__wrap:has(.p-tempMenu__logo) {
  width: calc((100vw - 570px) / 2);
  overflow-y: auto;
}
.l-tempMain__wrap:has(.p-tempMenu__logo)::-webkit-scrollbar {
  background-color: var(--color_main);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
.l-tempMain__wrap:has(.p-tempMenu__logo)::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .l-tempMain__wrap:has(.p-tempMenu__logo) {
    width: 100%;
  }
}

.c-balloon {
  position: relative;
  padding: 32px;
  margin-block: 24px;
  background-color: var(--color_balloon);
  border-radius: 20px;
}
.c-balloon::before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  content: "";
  pointer-events: none;
  border: solid transparent;
  border-color: transparent;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-color: var(--color_balloon);
}

.c-bar-graph__wrap {
  position: relative;
  overflow: hidden;
}
.c-bar-graph__item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.c-bar-graph__item + .c-bar-graph__item {
  margin-top: 10px;
}
.c-bar-graph__item-heading {
  width: 100%;
  max-width: 64px;
}
.c-bar-graph__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22px;
}
.c-bar-graph__bar.is-first {
  background-color: var(--graph-color-first);
}
.c-bar-graph__bar.is-second {
  background-color: var(--graph-color-second);
}
.c-bar-graph__bar.is-third {
  background-color: var(--graph-color-third);
}

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(12px, 2vw, 16px);
  background: var(--color_gray_1);
  color: #fff;
  padding-block: 12.5px;
  border-radius: 100px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .c-btn {
    flex-direction: column;
    gap: 6px;
    background: var(--color_main);
    border-radius: 0;
  }
}
.c-btn::before {
  transition: all 300ms ease-in-out;
}
.c-btn__fav::before {
  content: "★";
  color: #fff;
  margin-right: 5px;
}
.c-btn__fav.js-clip::before {
  color: var(--color_gray_2);
}
@media screen and (max-width: 1024px) {
  .c-btn__fav.js-clip::before {
    color: rgba(255, 255, 255, 0.6);
  }
}
.c-btn__keep::before {
  content: "★";
  color: #fff;
  margin-right: 5px;
}
.c-btn__keep.js-clip::before {
  color: var(--color_gray_2);
}
@media screen and (max-width: 1024px) {
  .c-btn__keep.js-clip::before {
    color: rgba(255, 255, 255, 0.6);
  }
}
.c-btn__rec::before {
  content: "";
  background-image: url("../img/icon_rec.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.c-btn__form::before {
  content: "";
  background-image: url("../img/icon_form.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.c-btn__tel::before {
  content: "";
  background-image: url("../img/icon_tel.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.c-btn__contact-form {
  max-width: 216px;
  height: 48px;
  margin-inline: auto;
  font-size: 19px;
  font-weight: 700;
  background-color: var(--color_key);
  border-radius: 100px;
}

.c-btnBox {
  display: flex;
  justify-content: center;
  gap: 16px;
  background: var(--color_main);
  padding: 16px 24px;
}
.c-btnBox:not([id*=js-btnTrigger]) {
  display: none;
}
@media screen and (max-width: 1024px) {
  .c-btnBox {
    position: sticky;
    bottom: 0;
    left: 0;
    gap: 0;
    width: 100%;
    padding: 0;
  }
  .c-btnBox[id*=js-btnTrigger] {
    display: none;
  }
  .c-btnBox:not([id*=js-btnTrigger]) {
    display: flex;
  }
}
.c-btnBox .c-btn {
  flex: 1;
}
@media screen and (max-width: 1024px) {
  .c-btnBox .c-btn + .c-btn {
    border-left: 1px solid #fff;
  }
}
.c-btnBox__scroll {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 65px;
  gap: 18px;
}
.c-btnBox__scroll-btn {
  justify-content: flex-start;
  width: 180px;
  border-radius: 0 100px 100px 0;
  padding-left: 20px;
}

.c-chart {
  position: relative;
  width: calc(var(--r) * 4);
  height: calc(var(--r) * 4);
  border-radius: 50%;
  background-image: conic-gradient(var(--graph-color1) 0% var(--graph-a-value), var(--graph-color2) var(--graph-a-value) var(--graph-b-value), var(--graph-color3) var(--graph-b-value) var(--graph-o-value), var(--graph-color4) var(--graph-o-value) var(--graph-ab-value));
}

.c-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: var(--color_main);
}
@media screen and (max-width: 600px) {
  .c-copyright {
    background-color: rgba(74, 173, 204, 0.6);
  }
}
.c-copyright small {
  font-size: 12px;
  color: #fff;
}

.c-fadeScroll {
  opacity: 0;
  transition: opacity 0.8s;
}
.c-fadeScroll.visible {
  opacity: 1;
}

.c-graph__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 24px;
  padding-inline: 88px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .c-graph__wrapper {
    padding-inline: 20px;
  }
}
.c-graph__box {
  width: 100%;
  padding: 16px;
  background-color: var(--color_bg);
}
.c-graph__box.is-w50 {
  width: calc(50% - 12px);
}
.c-graph__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32px;
  margin-bottom: 18px;
  background-color: #fff;
}
.c-graph__flex {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.c-hamburger__menu-toggle {
  position: absolute;
  bottom: 0;
  left: 12px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 42px;
  background-color: var(--color_main);
  border-radius: 10px 10px 0 0;
}
.c-hamburger__menu-toggle.active .c-hamburger__bar {
  background: transparent;
}
.c-hamburger__menu-toggle.active .c-hamburger__bar::before {
  transform: translateY(0) rotate(45deg);
}
.c-hamburger__menu-toggle.active .c-hamburger__bar::after {
  transform: translateY(0) rotate(-45deg);
}
.c-hamburger__menu-toggle.active + .c-hamburger__nav {
  opacity: 1;
}
.c-hamburger__nav {
  position: fixed;
  top: 61px;
  right: 0;
  z-index: -1;
  width: 100%;
  padding: 64px 32px;
  background-color: var(--color_main);
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.c-hamburger__overlay {
  position: fixed;
  top: 62px;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.c-hamburger__bar, .c-hamburger__bar:before, .c-hamburger__bar:after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  background: #fff;
  transition: 300ms ease-in-out;
}
.c-hamburger__bar:before, .c-hamburger__bar:after {
  position: relative;
}
.c-hamburger__bar:before {
  transform: translateY(-6px);
}
.c-hamburger__bar:after {
  transform: translateY(6px);
}

.c-heading--main {
  margin-bottom: 10px;
  font-size: clamp(22px, 3.667vw, 26px);
  font-weight: 700;
  line-height: 1.26;
  color: var(--color_main);
}
.c-heading-shop-name {
  margin-bottom: 8px;
  font-size: clamp(17px, 2.833vw, 22px);
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .c-heading-shop-name {
    margin-bottom: 5px;
    font-weight: 700;
  }
}
.c-heading-decoration {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 28px;
  font-size: clamp(20px, 3.333vw, 22px);
  font-weight: 600;
}
.c-heading-decoration::before {
  display: block;
  width: 8.35px;
  height: 22px;
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229%22%20height%3D%2223%22%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%2383D19E%22%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20d%3D%22M6.82%203.56a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM6.82%208.298a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM6.82%2013.025a1.53%201.53%200%201%200%200-3.061%201.53%201.53%200%200%200%200%203.06ZM6.82%2017.762a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM6.82%2022.489a1.53%201.53%200%201%200%200-3.061%201.53%201.53%200%200%200%200%203.06ZM1.53%203.56a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM1.53%208.298a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM1.53%2013.025a1.53%201.53%200%201%200%200-3.061%201.53%201.53%200%200%200%200%203.06ZM1.53%2017.762a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM1.53%2022.489a1.53%201.53%200%201%200%200-3.061%201.53%201.53%200%200%200%200%203.06Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%20.5h8.35v22H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
@media screen and (max-width: 600px) {
  .c-heading-decoration {
    font-weight: 700;
  }
}
.c-heading-check-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  font-size: clamp(16px, 2.667vw, 19px);
  font-weight: 700;
}
.c-heading-check-icon::before {
  display: block;
  width: 22px;
  height: 19.5px;
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20stroke%3D%22%2383D19E%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%223%22%20d%3D%22M14.97%202.535H2.74c-.68%200-1.24.55-1.24%201.24v13.28c0%20.68.55%201.24%201.24%201.24h13.28c.68%200%201.24-.55%201.24-1.24v-6.12%22%2F%3E%3Cpath%20stroke%3D%22%2383D19E%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%223%22%20d%3D%22m4.65%209.875%205.57%203.1%2010.27-11.26%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
.c-heading-fs--14_15-bold {
  margin-bottom: 5px;
  font-size: clamp(14px, 2.333vw, 15px);
  font-weight: 700;
}
.c-heading-fs--17-bold {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
}
.c-heading-fs--17_19-bold {
  margin-bottom: 5px;
  font-size: clamp(17px, 2.833vw, 19px);
  font-weight: 600;
  line-height: 1.4;
}
@media screen and (max-width: 600px) {
  .c-heading-fs--17_19-bold {
    font-weight: 700;
  }
}

.c-infoList {
  padding: 20px;
  border-bottom: 1px dashed var(--color_gray_2);
}
.c-infoList:nth-child(2) {
  border-top: 1px dashed var(--color_gray_2);
}

.c-jobcard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.c-jobcard__box {
  border: 1px solid var(--color_gray_2);
}
.c-jobcard__wrap {
  text-align: left;
  padding: 15px;
}
.c-jobcard__heading {
  display: flex;
  background: var(--color_key);
  padding: 8px 12px;
  align-items: center;
}
.c-jobcard__heading-area {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  background: #fff;
  padding: 5px 12px;
  border-radius: 100px;
}
.c-jobcard__heading-name {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-left: 12px;
}
.c-jobcard__title {
  font-weight: bold;
  line-height: 21px !important;
  margin-bottom: 8px;
}
.c-jobcard__more {
  display: block;
  font-size: 15px;
  text-align: right;
  color: var(--color_link);
  text-decoration: underline;
  cursor: pointer;
}

.c-map__iframe {
  width: 100%;
  aspect-ratio: 3/4;
}
.c-map__link {
  text-decoration: underline;
}
.c-map__link-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  margin: 4px 0 16px 0;
}
.c-map__link-box svg {
  width: 24px;
  height: 24px;
}
.c-map__link-box svg path {
  fill: var(--color_key);
}
.c-map--access-info {
  margin-bottom: 16px;
}
.c-map--access-info + .c-map--access-info {
  margin-bottom: 0;
}

.c-parameter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding-inline: 88px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .c-parameter {
    padding-inline: 20px;
  }
}
.c-parameter__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 21px;
  width: 100%;
}
.c-parameter__wrapper > [class*=u-ta--] {
  width: 25%;
}
.c-parameter__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48.9%, var(--color_gray_2) 49%, var(--color_gray_2) 50%, rgba(255, 255, 255, 0) 50.1%, rgba(255, 255, 255, 0) 100%) no-repeat center center/100% 1px;
}
.c-parameter__item {
  width: 8px;
  height: 8px;
  background-color: var(--color_gray_2);
  border-radius: 100px;
}
.c-parameter__item.is-active {
  background-color: var(--color_point);
}

.c-section {
  padding-inline: 20px;
}
.c-section__heading {
  font-size: clamp(20px, 3.333vw, 22px);
  font-weight: 600;
  line-height: 1.3;
}
@media screen and (max-width: 600px) {
  .c-section__heading {
    font-weight: 700;
  }
}
.c-section__heading--en {
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  color: #c2c2c2;
}
.c-section__heading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto 72px auto;
}
.c-section__heading-box::after {
  display: block;
  width: 198px;
  height: 4px;
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22198%22%20height%3D%225%22%20fill%3D%22none%22%3E%3Cpath%20stroke%3D%22%23898989%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M0%20.61h91.517L99%204.438l8.515-3.956H198%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
.c-section__read {
  font-size: clamp(14px, 2.333vw, 15px);
  line-height: 1.6;
}
.c-section--space {
  margin-bottom: var(--contents-space);
}

.c-taglist {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.c-taglist li {
  font-size: 13px;
  padding: 3px 10px;
  border: 1px solid #333;
  border-radius: 100px;
}

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 62px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 600px) {
  .p-header {
    display: flex;
  }
}
.p-header__logo {
  width: 100%;
  max-width: 96px;
  aspect-ratio: 2/1;
}
.p-header__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-flow__box {
  position: relative;
  padding: 20px;
  margin-bottom: 92px;
  background-color: #fff;
  border: 1px solid var(--color_border_1);
}
.p-flow__box::after {
  position: absolute;
  bottom: -64px;
  left: 50%;
  display: block;
  width: 112px;
  height: 36px;
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2298%22%20height%3D%2227%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23D9D9D9%22%20d%3D%22M49%2027%20.503%200h96.994L49%2027Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
  transform: translateX(-50%);
}
.p-flow__box:nth-last-child(1) {
  margin-bottom: 0;
}
.p-flow__box:nth-last-child(1)::after {
  display: none;
}

.p-memberSlider .slick-dots {
  bottom: -16px;
}
.p-memberSlider .slick-dots li button::before {
  color: var(--color_gray_2);
}
.p-memberSlider .slick-dots li.slick-active button::before {
  color: var(--color_point);
}
.p-memberSlider__item {
  padding-inline: 16px;
}
@media screen and (max-width: 600px) {
  .p-memberSlider__item .u-px--40 {
    padding: 0;
  }
}
.p-memberSlider__thumb {
  width: 200px;
  height: 200px;
  margin: 0 auto 10px auto;
  overflow: hidden;
  border-radius: 100px;
}
@media screen and (max-width: 600px) {
  .p-memberSlider__thumb {
    margin-bottom: 64px;
  }
}
.p-memberSlider__thumb img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-memberSlider .slick-next,
.p-memberSlider .slick-prev {
  top: 100px;
  width: 89px;
  height: 25px;
}
.p-memberSlider .slick-next::before,
.p-memberSlider .slick-prev::before {
  display: none;
}
.p-memberSlider .slick-prev {
  left: 21px;
  z-index: 10;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M57.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429a11.72%2011.72%200%200%201-1.313-.429%202.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677h-1.482a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.615%206.24a3.71%203.71%200%200%201-1.834-.455%203.373%203.373%200%200%201-1.287-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.481-1.937.321-.563.759-.997%201.313-1.3a3.81%203.81%200%200%201%201.86-.455%203.81%203.81%200%200%201%201.859.455c.554.303.992.737%201.313%201.3.32.563.48%201.209.48%201.937s-.164%201.374-.493%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.38%200%20.736-.091%201.066-.273.338-.182.61-.455.819-.819.207-.364.311-.806.311-1.326s-.1-.958-.298-1.313a2.01%202.01%200%200%200-.794-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.195%201.37.585%201.794.398.416.896.624%201.495.624Zm6.665-8.45v9.62h-1.483V7.88h1.483Zm3.427%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M11.5%2013.5%202%2023h89%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
.p-memberSlider .slick-prev:focus, .p-memberSlider .slick-prev:hover {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M57.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429a11.72%2011.72%200%200%201-1.313-.429%202.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677h-1.482a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.615%206.24a3.71%203.71%200%200%201-1.834-.455%203.373%203.373%200%200%201-1.287-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.481-1.937.321-.563.759-.997%201.313-1.3a3.81%203.81%200%200%201%201.86-.455%203.81%203.81%200%200%201%201.859.455c.554.303.992.737%201.313%201.3.32.563.48%201.209.48%201.937s-.164%201.374-.493%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.38%200%20.736-.091%201.066-.273.338-.182.61-.455.819-.819.207-.364.311-.806.311-1.326s-.1-.958-.298-1.313a2.01%202.01%200%200%200-.794-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.195%201.37.585%201.794.398.416.896.624%201.495.624Zm6.665-8.45v9.62h-1.483V7.88h1.483Zm3.427%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M11.5%2013.5%202%2023h89%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
@media screen and (max-width: 600px) {
  .p-memberSlider .slick-prev {
    display: none !important;
  }
}
.p-memberSlider .slick-next {
  right: 21px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M6.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429-.537-.147-.975-.29-1.313-.429a2.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677H7.808a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.614%206.24a3.71%203.71%200%200%201-1.832-.455%203.373%203.373%200%200%201-1.288-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.482-1.937.32-.563.758-.997%201.313-1.3a3.81%203.81%200%200%201%201.859-.455%203.81%203.81%200%200%201%201.858.455c.555.303.993.737%201.313%201.3.321.563.482%201.209.482%201.937s-.165%201.374-.494%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.382%200%20.737-.091%201.066-.273.338-.182.611-.455.82-.819.207-.364.311-.806.311-1.326s-.1-.958-.299-1.313a2.01%202.01%200%200%200-.793-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.194%201.37.584%201.794.4.416.898.624%201.495.624Zm6.665-8.45v9.62h-1.481V7.88h1.481Zm3.428%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M79.5%2013.5%2089%2023H0%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
.p-memberSlider .slick-next:focus, .p-memberSlider .slick-next:hover {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M6.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429-.537-.147-.975-.29-1.313-.429a2.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677H7.808a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.614%206.24a3.71%203.71%200%200%201-1.832-.455%203.373%203.373%200%200%201-1.288-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.482-1.937.32-.563.758-.997%201.313-1.3a3.81%203.81%200%200%201%201.859-.455%203.81%203.81%200%200%201%201.858.455c.555.303.993.737%201.313%201.3.321.563.482%201.209.482%201.937s-.165%201.374-.494%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.382%200%20.737-.091%201.066-.273.338-.182.611-.455.82-.819.207-.364.311-.806.311-1.326s-.1-.958-.299-1.313a2.01%202.01%200%200%200-.793-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.194%201.37.584%201.794.4.416.898.624%201.495.624Zm6.665-8.45v9.62h-1.481V7.88h1.481Zm3.428%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M79.5%2013.5%2089%2023H0%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
@media screen and (max-width: 600px) {
  .p-memberSlider .slick-next:focus, .p-memberSlider .slick-next:hover {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M57.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429a11.72%2011.72%200%200%201-1.313-.429%202.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677h-1.482a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.615%206.24a3.71%203.71%200%200%201-1.834-.455%203.373%203.373%200%200%201-1.287-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.481-1.937.321-.563.759-.997%201.313-1.3a3.81%203.81%200%200%201%201.86-.455%203.81%203.81%200%200%201%201.859.455c.554.303.992.737%201.313%201.3.32.563.48%201.209.48%201.937s-.164%201.374-.493%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.38%200%20.736-.091%201.066-.273.338-.182.61-.455.819-.819.207-.364.311-.806.311-1.326s-.1-.958-.298-1.313a2.01%202.01%200%200%200-.794-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.195%201.37.585%201.794.398.416.896.624%201.495.624Zm6.665-8.45v9.62h-1.483V7.88h1.483Zm3.427%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M11.5%2013.5%202%2023h89%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
  }
}
@media screen and (max-width: 600px) {
  .p-memberSlider .slick-next {
    top: 216px;
    left: 50%;
    transform: translateX(-50%);
    background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M57.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429a11.72%2011.72%200%200%201-1.313-.429%202.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677h-1.482a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.615%206.24a3.71%203.71%200%200%201-1.834-.455%203.373%203.373%200%200%201-1.287-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.481-1.937.321-.563.759-.997%201.313-1.3a3.81%203.81%200%200%201%201.86-.455%203.81%203.81%200%200%201%201.859.455c.554.303.992.737%201.313%201.3.32.563.48%201.209.48%201.937s-.164%201.374-.493%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.38%200%20.736-.091%201.066-.273.338-.182.61-.455.819-.819.207-.364.311-.806.311-1.326s-.1-.958-.298-1.313a2.01%202.01%200%200%200-.794-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.195%201.37.585%201.794.398.416.896.624%201.495.624Zm6.665-8.45v9.62h-1.483V7.88h1.483Zm3.427%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M11.5%2013.5%202%2023h89%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
  }
}

.p-photoList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
  margin-bottom: 40px;
}
.p-photoList__item {
  width: calc(50% - 10px);
}
@media screen and (max-width: 600px) {
  .p-photoList__item {
    width: 100%;
  }
}
.p-photoList__image {
  width: 100%;
  aspect-ratio: 245/172;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-temp2column {
  border: 1px solid var(--color_gray_2);
  padding: 15px;
  background: #fff;
}
.p-temp2column__title-good, .p-temp2column__title-bulb {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 12px;
  font-size: clamp(15px, 2.5vw, 19px);
  font-weight: bold;
  border-bottom: 1px dashed var(--color_gray_2);
}
.p-temp2column__title-good::before, .p-temp2column__title-bulb::before {
  content: "";
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--color_gray_2);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  .p-temp2column__title-good::before, .p-temp2column__title-bulb::before {
    width: 35px;
    height: 35px;
  }
}
.p-temp2column__title-good::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M11.106%2017H8.894C8.4%2017%208%2017.431%208%2017.963v9.074c0%20.532.4.963.894.963h2.212c.494%200%20.894-.431.894-.963v-9.074c0-.532-.4-.963-.894-.963ZM25.17%2029.99c-2.813%200-7.722-1.373-8.477-1.587l-3.279-.534a.489.489%200%200%201-.414-.484V17.207c0-.182.102-.351.27-.433%204.252-2.14%205.696-6.572%206.311-8.466.238-.73.317-.977.545-1.123.633-.415%202.347-.192%203.791%201.292%201.495%201.538-.14%204.974-.368%205.43-.242.58-.056.927.093%201.087%203.251-.397%205.506.406%205.603.443.01%200%20.019.004.028.009%201.025.438%201.602%201.054%201.71%201.834.158%201.155-.797%202.255-1.36%202.793.39.553.53%201.096.419%201.625-.112.525-.452.909-.76%201.16.415.547.592%201.127.527%201.72-.112.981-.871%201.702-1.29%202.031.093%201.045-.242%202.73-2.129%203.259-.326.09-.745.132-1.22.132v-.01Zm-11.173-3.016%202.892.47s.037.01.06.014c1.975.57%207.476%201.94%209.171%201.465.727-.205%201.165-.644%201.337-1.346.14-.57.042-1.096.042-1.1a.484.484%200%200%201%20.223-.502c.01-.005%201.006-.644%201.1-1.507.046-.447-.164-.903-.634-1.364a.48.48%200%200%201%20.14-.785c.177-.082.657-.393.74-.817.066-.329-.098-.721-.498-1.155a.503.503%200%200%201-.126-.365.502.502%200%200%201%20.182-.342c.419-.333%201.48-1.387%201.364-2.227-.055-.416-.428-.772-1.103-1.064-.168-.059-2.334-.766-5.333-.356a.5.5%200%200%201-.34-.073c-.438-.278-1.127-1.136-.582-2.405%200-.009.009-.018.014-.027.419-.84%201.42-3.441.545-4.34-1.058-1.087-2.124-1.224-2.45-1.169-.056.137-.14.393-.215.625-.642%201.967-2.123%206.527-6.534%208.896v9.47l.005.004Z%22%2F%3E%3C%2Fsvg%3E");
}
.p-temp2column__title-bulb::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M25.09%2010.821a8%208%200%200%200-6.68-1.66%208%208%200%200%200-6.27%206.32%208.07%208.07%200%200%200%201.72%206.65%204.54%204.54%200%200%201%201.14%202.87v3a3%203%200%200%200%203%203h4a3%203%200%200%200%203-3v-2.81a5.17%205.17%200%200%201%201.22-3.19%208%208%200%200%200-1.13-11.2v.02ZM23%2028.001a1%201%200%200%201-1%201h-4a1%201%200%200%201-1-1v-1h6v1Zm1.67-7.24a7.13%207.13%200%200%200-1.67%204.24h-2v-3a1%201%200%201%200-2%200v3h-2a6.5%206.5%200%200%200-1.6-4.16%206%206%200%200%201%206.03-9.67A6%206%200%200%201%2026%2017a5.89%205.89%200%200%201-1.33%203.76Z%22%2F%3E%3C%2Fsvg%3E");
}
.p-temp2column__box {
  padding: 15px 0 0;
}

.p-tempAbout__img {
  width: 100%;
  aspect-ratio: 55/38;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-tempAbout__title {
  padding: 16px 16px 24px 16px;
  background-color: var(--color_bg);
}

.p-tempJob__img img {
  width: 100%;
}
.p-tempJob__con {
  padding: 16px 16px 24px 16px;
  background-color: var(--color_bg);
}
.p-tempJob--jobname {
  padding-block: 10px;
  margin-block: 24px;
  font-size: clamp(15px, 2.5vw, 19px);
  font-weight: 700;
  text-align: left;
  border-top: 1px dashed var(--color_border_2);
  border-bottom: 1px dashed var(--color_border_2);
}
.p-tempJob--detail li {
  margin-bottom: 16px;
  font-size: clamp(14px, 2.333vw, 15px);
}
.p-tempJob--option {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.p-tempJob--option__item {
  padding: 8px;
  font-size: 13px;
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 100px;
}

.p-tempMenu {
  padding: 80px 0 0 224px;
}
@media screen and (min-width: 1380px) and (max-width: 1700px) {
  .p-tempMenu {
    padding-left: 5vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1379px) {
  .p-tempMenu {
    padding-left: 2vw;
  }
}
@media screen and (min-width: 1200px) and (max-height: 720px) {
  .p-tempMenu {
    padding-top: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .p-tempMenu {
    padding-left: 32px;
  }
}
.p-tempMenu__logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 550px;
  height: 180px;
  padding-right: 100px;
  margin: 0 0 112px -224px;
  background-color: #fff;
  border-radius: 0 100px 100px 0;
}
@media screen and (min-width: 1380px) and (max-width: 1700px) {
  .p-tempMenu__logo {
    max-width: 35vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1379px) {
  .p-tempMenu__logo {
    max-width: 40vw;
  }
}
@media screen and (min-width: 1200px) and (max-height: 720px) {
  .p-tempMenu__logo {
    height: 120px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .p-tempMenu__logo {
    max-width: 480px;
  }
}
@media screen and (max-width: 820px) {
  .p-tempMenu__logo {
    max-width: 440px;
    padding-right: 72px;
  }
}
.p-tempMenu__logo-img {
  width: 220px;
  aspect-ratio: 2/1;
}
@media screen and (min-width: 1380px) and (max-width: 1700px) {
  .p-tempMenu__logo-img {
    width: 13vw;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1379px) {
  .p-tempMenu__logo-img {
    max-width: 11vw;
  }
}
@media screen and (max-width: 1024px) {
  .p-tempMenu__logo-img {
    max-width: 144px;
  }
}
@media screen and (max-width: 820px) {
  .p-tempMenu__logo-img {
    max-width: 160px;
  }
}
.p-tempMenu__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  padding-left: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) and (max-height: 720px) {
  .p-tempMenu__nav {
    gap: 16px;
  }
}
@media screen and (max-width: 820px) {
  .p-tempMenu__nav {
    padding-left: 0;
  }
}
.p-tempMenu__nav-anchor {
  position: relative;
  align-items: center;
  display: flex;
  font-size: clamp(14px, 2.333vw, 17px);
  color: #fff;
}
.p-tempMenu__nav-anchor::before {
  position: absolute;
  left: -16px;
  display: block;
  width: 5px;
  height: 5px;
  content: "";
  background-color: #fff;
  border-radius: 100px;
  opacity: 0;
  transition: all 400ms ease-in-out;
}
.p-tempMenu__nav-anchor:hover {
  opacity: 0.6;
}
.p-tempMenu__nav-anchor:hover::before {
  opacity: 1;
}

.p-tempPR {
  background: var(--color_bg);
  counter-reset: number 0;
}
.p-tempPR__box {
  margin: 0 0 35px 0;
}
.p-tempPR__title {
  position: relative;
  font-size: clamp(15px, 2.5vw, 19px);
  font-weight: bold;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.p-tempPR__title::before {
  content: "POINT";
  padding: 12px;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: var(--color_key);
  background-size: 100%;
}
.p-tempPR__title::after {
  position: absolute;
  content: "" counter(number);
  counter-increment: number 1;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  width: 65px;
  height: 65px;
  left: 0;
  bottom: -15px;
}
.p-tempPR__text {
  padding: 10px 15px;
}

.p-tempWorks__con {
  display: flex;
  flex-direction: column;
}
.p-tempWorks__box {
  display: flex;
  gap: 17px;
  margin: 0 0 35px 0;
}
@media screen and (max-width: 600px) {
  .p-tempWorks__box {
    flex-direction: column;
  }
}
.p-tempWorks__img img {
  width: 200px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 600px) {
  .p-tempWorks__img img {
    width: 100%;
    height: auto;
  }
}

.u-bg-color--gray {
  padding-top: var(--contents-space);
  padding-bottom: calc(var(--contents-space) / 2);
  margin-bottom: var(--contents-space);
  background-color: var(--color_bg);
}
.u-bg-color--gray + .u-bg-color--gray {
  padding-top: 0;
  margin-top: calc(var(--contents-space) * -1);
}

.u-color--key {
  color: var(--color_key);
}

.u-ff--en {
  font-family: var(--ff-en);
}

.u-fs--13 {
  font-size: 13px;
  line-height: 1.4;
}
.u-fs--13_14 {
  font-size: clamp(13px, 2.167vw, 14px);
}
.u-fs--13_15 {
  font-size: clamp(13px, 2.167vw, 15px);
}
.u-fs--14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}
.u-fs--14_15 {
  font-size: clamp(14px, 2.333vw, 15px);
}
.u-fs--15 {
  font-size: 15px;
  line-height: 1.4;
}
.u-fs--17 {
  font-size: 17px;
}
.u-fs--20 {
  font-size: 20px;
}
.u-fs--24 {
  font-size: 24px;
}
.u-fs--32 {
  font-size: 32px;
}
.u-fs--42 {
  font-size: 42px;
}

.u-fw--400 {
  font-weight: 400;
}
.u-fw--500 {
  font-weight: 500;
}
.u-fw--600 {
  font-weight: 600;
}
.u-fw--700 {
  font-weight: 700;
}

.u-list li {
  line-height: 1.867;
}
.u-list--disc {
  padding-left: 32px;
  list-style: disc;
}
.u-list--work-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.u-list--work-info li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(50% - 10px);
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 100px;
}

.u-mb--14 {
  margin-bottom: 14px;
}
.u-mb--16 {
  margin-bottom: 16px;
}
.u-mb--16_24 {
  margin-bottom: 24px;
}
@media screen and (max-width: 600px) {
  .u-mb--16_24 {
    margin-bottom: 16px;
  }
}
.u-mb--18 {
  margin-bottom: 18px;
}
.u-mb--24 {
  margin-bottom: 24px;
}
.u-mb--40 {
  margin-bottom: 40px;
}
.u-ml--m8 {
  margin-left: -8px;
}

.u-px--40 {
  padding-inline: 40px;
}
.u-px--56 {
  padding-inline: 56px;
}
@media screen and (max-width: 600px) {
  .u-px--sp-0 {
    padding-inline: 0;
  }
  .u-px--sp-16 {
    padding-inline: 16px;
  }
}

.u-ta--right {
  text-align: right !important;
}
.u-ta--center {
  text-align: center !important;
}
.u-ta--left {
  text-align: left !important;
}

html {
  scroll-behavior: smooth;
}
@media screen and (max-width: 600px) {
  html {
    scroll-padding-top: 62px;
  }
}

body {
  font-family: var(--ff-base);
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  body {
    padding-top: 62px;
  }
  body:has(.c-hamburger__menu-toggle.active) {
    overflow: hidden;
  }
}

a {
  transition: all 300ms ease-in-out;
}

@media (hover: hover) {
  a:not(.p-tempMenu__nav-anchor):hover {
    opacity: 0.6;
  }
  .c-btn:hover {
    color: #c2c2c2;
    opacity: 1 !important;
  }
  .c-btn:hover::before {
    opacity: 0.6;
  }
  .c-btn__contact-form:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}
.u-font__title {
  font-family: Noto Sans JP;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 1024px) {
  .u-font__title {
    font-family: Noto Sans JP;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */