@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
:root {
  --color_main: #4aadcc;
  --color_key: #83d19e;
  --color_point: #fdB937;
  --color_bg: #f5f3f3;
  --color_gray_1: #6b6b6b;
  --color_gray_2: #ababab;
  --color_link: #402bd8;
  --color_balloon: #f5f3f3;
  --ff-base: "Noto Sans JP", sans-serif;
  --ff-en: "Poppins", sans-serif;
}

.l-tempMain {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 550px 1fr;
}
.l-tempMain__con--l {
  position: relative;
  background-color: var(--color_main);
}
.l-tempMain__con--m {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 550px;
  background-color: #fff;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.4));
}
.l-tempMain__con--r {
  position: relative;
}
.l-tempMain__wrap {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.c-balloon {
  position: relative;
  padding: 32px;
  margin-block: 24px;
  background-color: var(--color_balloon);
  border-radius: 20px;
}
.c-balloon::before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  content: "";
  pointer-events: none;
  border: solid transparent;
  border-color: transparent;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-color: var(--color_balloon);
}

.c-heading--main {
  margin-bottom: 10px;
  font-size: clamp(22px, 3.667vw, 26px);
  font-weight: 700;
  line-height: 1.26;
  color: var(--color_main);
}
.c-heading-shop-name {
  margin-bottom: 8px;
  font-size: clamp(17px, 2.833vw, 22px);
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .c-heading-shop-name {
    margin-bottom: 5px;
    font-weight: 700;
  }
}
.c-heading-decoration {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 28px;
  font-size: clamp(20px, 3.333vw, 22px);
  font-weight: 600;
}
.c-heading-decoration::before {
  display: block;
  width: 8.35px;
  height: 22px;
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%229%22%20height%3D%2223%22%20fill%3D%22none%22%3E%3Cg%20fill%3D%22%2383D19E%22%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20d%3D%22M6.82%203.56a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM6.82%208.298a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM6.82%2013.025a1.53%201.53%200%201%200%200-3.061%201.53%201.53%200%200%200%200%203.06ZM6.82%2017.762a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM6.82%2022.489a1.53%201.53%200%201%200%200-3.061%201.53%201.53%200%200%200%200%203.06ZM1.53%203.56a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM1.53%208.298a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM1.53%2013.025a1.53%201.53%200%201%200%200-3.061%201.53%201.53%200%200%200%200%203.06ZM1.53%2017.762a1.53%201.53%200%201%200%200-3.06%201.53%201.53%200%200%200%200%203.06ZM1.53%2022.489a1.53%201.53%200%201%200%200-3.061%201.53%201.53%200%200%200%200%203.06Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%20.5h8.35v22H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
@media screen and (max-width: 600px) {
  .c-heading-decoration {
    font-weight: 700;
  }
}
.c-heading-check-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.c-heading-check-icon::before {
  display: block;
  width: 22px;
  height: 19.5px;
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20stroke%3D%22%2383D19E%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%223%22%20d%3D%22M14.97%202.535H2.74c-.68%200-1.24.55-1.24%201.24v13.28c0%20.68.55%201.24%201.24%201.24h13.28c.68%200%201.24-.55%201.24-1.24v-6.12%22%2F%3E%3Cpath%20stroke%3D%22%2383D19E%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%223%22%20d%3D%22m4.65%209.875%205.57%203.1%2010.27-11.26%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
.c-heading-fs--14_15-bold {
  margin-bottom: 5px;
  font-size: clamp(14px, 2.333vw, 15px);
  font-weight: 700;
}
.c-heading-fs--17-bold {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
}
.c-heading-fs--17_19-bold {
  margin-bottom: 5px;
  font-size: clamp(17px, 2.833vw, 19px);
  font-weight: 600;
  line-height: 1.4;
}
@media screen and (max-width: 600px) {
  .c-heading-fs--17_19-bold {
    font-weight: 700;
  }
}

.c-section {
  padding-inline: 20px;
}
.c-section__heading {
  font-size: clamp(20px, 3.333vw, 22px);
  font-weight: 600;
  line-height: 1.3;
}
@media screen and (max-width: 600px) {
  .c-section__heading {
    font-weight: 700;
  }
}
.c-section__heading--en {
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  color: #c2c2c2;
}
.c-section__heading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto 72px auto;
}
.c-section__heading-box::after {
  display: block;
  width: 198px;
  height: 4px;
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22198%22%20height%3D%225%22%20fill%3D%22none%22%3E%3Cpath%20stroke%3D%22%23898989%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M0%20.61h91.517L99%204.438l8.515-3.956H198%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
.c-section__read {
  font-size: clamp(14px, 2.333vw, 15px);
  line-height: 1.6;
}

.c-taglist {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.c-taglist li {
  font-size: 13px;
  padding: 3px 10px;
  border: 1px solid #333;
  border-radius: 100px;
}

.c-jobcard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.c-jobcard__box {
  border: 1px solid var(--color_gray_2);
}
.c-jobcard__wrap {
  text-align: left;
  padding: 15px;
}
.c-jobcard__heading {
  display: flex;
  background: var(--color_key);
  padding: 8px 12px;
  align-items: center;
}
.c-jobcard__heading-area {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  background: #fff;
  padding: 5px 12px;
  border-radius: 100px;
}
.c-jobcard__heading-name {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-left: 12px;
}
.c-jobcard__title {
  font-weight: bold;
  line-height: 21px !important;
  margin-bottom: 8px;
}
.c-jobcard__more {
  display: block;
  font-size: 15px;
  text-align: right;
  color: var(--color_link);
  text-decoration: underline;
  cursor: pointer;
}

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color_gray_1);
  color: #fff;
  padding: 10px 0;
  border-radius: 100px;
  cursor: pointer;
}
.c-btn__fav::before {
  content: "★";
  color: #fff;
  margin-right: 5px;
}
.c-btn__fav.js-clip::before {
  color: var(--color_gray_2);
}
.c-btn__keep::before {
  content: "★";
  color: #fff;
  margin-right: 5px;
}
.c-btn__keep.js-clip::before {
  color: var(--color_gray_2);
}
.c-btn__form::before {
  content: "";
  background-image: url("../img/icon_form.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.c-btn__tel::before {
  content: "";
  background-image: url("../img/icon_tel.svg");
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.c-btnBox {
  display: flex;
  justify-content: space-evenly;
  background: var(--color_main);
  padding: 17px 0;
}
.c-btnBox__2 {
  width: 40%;
}
.c-btnBox__3 {
  width: 30%;
}

.p-memberSlider .slick-dots {
  bottom: -16px;
}
.p-memberSlider .slick-dots li button::before {
  color: var(--color_gray_2);
}
.p-memberSlider .slick-dots li.slick-active button::before {
  color: var(--color_point);
}
.p-memberSlider__item {
  padding-inline: 16px;
}
.p-memberSlider__thumb {
  width: 200px;
  height: 200px;
  margin: 0 auto 10px auto;
  overflow: hidden;
  border-radius: 100px;
}
.p-memberSlider .slick-next,
.p-memberSlider .slick-prev {
  top: 100px;
  width: 89px;
  height: 25px;
}
.p-memberSlider .slick-next::before,
.p-memberSlider .slick-prev::before {
  display: none;
}
.p-memberSlider .slick-prev {
  left: 21px;
  z-index: 10;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M57.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429a11.72%2011.72%200%200%201-1.313-.429%202.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677h-1.482a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.615%206.24a3.71%203.71%200%200%201-1.834-.455%203.373%203.373%200%200%201-1.287-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.481-1.937.321-.563.759-.997%201.313-1.3a3.81%203.81%200%200%201%201.86-.455%203.81%203.81%200%200%201%201.859.455c.554.303.992.737%201.313%201.3.32.563.48%201.209.48%201.937s-.164%201.374-.493%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.38%200%20.736-.091%201.066-.273.338-.182.61-.455.819-.819.207-.364.311-.806.311-1.326s-.1-.958-.298-1.313a2.01%202.01%200%200%200-.794-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.195%201.37.585%201.794.398.416.896.624%201.495.624Zm6.665-8.45v9.62h-1.483V7.88h1.483Zm3.427%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M11.5%2013.5%202%2023h89%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
.p-memberSlider .slick-prev:focus, .p-memberSlider .slick-prev:hover {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M57.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429a11.72%2011.72%200%200%201-1.313-.429%202.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677h-1.482a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.615%206.24a3.71%203.71%200%200%201-1.834-.455%203.373%203.373%200%200%201-1.287-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.481-1.937.321-.563.759-.997%201.313-1.3a3.81%203.81%200%200%201%201.86-.455%203.81%203.81%200%200%201%201.859.455c.554.303.992.737%201.313%201.3.32.563.48%201.209.48%201.937s-.164%201.374-.493%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.38%200%20.736-.091%201.066-.273.338-.182.61-.455.819-.819.207-.364.311-.806.311-1.326s-.1-.958-.298-1.313a2.01%202.01%200%200%200-.794-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.195%201.37.585%201.794.398.416.896.624%201.495.624Zm6.665-8.45v9.62h-1.483V7.88h1.483Zm3.427%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M11.5%2013.5%202%2023h89%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
.p-memberSlider .slick-next {
  right: 21px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M6.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429-.537-.147-.975-.29-1.313-.429a2.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677H7.808a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.614%206.24a3.71%203.71%200%200%201-1.832-.455%203.373%203.373%200%200%201-1.288-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.482-1.937.32-.563.758-.997%201.313-1.3a3.81%203.81%200%200%201%201.859-.455%203.81%203.81%200%200%201%201.858.455c.555.303.993.737%201.313%201.3.321.563.482%201.209.482%201.937s-.165%201.374-.494%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.382%200%20.737-.091%201.066-.273.338-.182.611-.455.82-.819.207-.364.311-.806.311-1.326s-.1-.958-.299-1.313a2.01%202.01%200%200%200-.793-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.194%201.37.584%201.794.4.416.898.624%201.495.624Zm6.665-8.45v9.62h-1.481V7.88h1.481Zm3.428%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M79.5%2013.5%2089%2023H0%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}
.p-memberSlider .slick-next:focus, .p-memberSlider .slick-next:hover {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2291%22%20height%3D%2226%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M6.638%2017.617c-.563%200-1.07-.1-1.521-.299a2.747%202.747%200%200%201-1.053-.832%202.105%202.105%200%200%201-.416-1.183h1.534c.026.303.169.559.429.767.269.2.602.299%201.001.299.416%200%20.737-.078.962-.234.234-.165.351-.373.351-.624%200-.269-.13-.468-.39-.598-.251-.13-.654-.273-1.209-.429-.537-.147-.975-.29-1.313-.429a2.357%202.357%200%200%201-.884-.637c-.243-.286-.364-.663-.364-1.131%200-.381.113-.728.338-1.04.225-.32.546-.572.962-.754.425-.182.91-.273%201.456-.273.815%200%201.469.208%201.963.624.503.407.771.966.806%201.677H7.808a1.056%201.056%200%200%200-.39-.767c-.234-.19-.55-.286-.949-.286-.39%200-.689.074-.897.221a.684.684%200%200%200-.312.585c0%20.19.07.351.208.481.139.13.308.234.507.312.2.07.494.16.884.273.52.139.945.282%201.274.429.338.139.628.347.871.624s.368.646.377%201.105c0%20.407-.113.771-.338%201.092-.225.32-.546.572-.962.754-.407.182-.888.273-1.443.273Zm3.85-3.705c0-.737.148-1.382.442-1.937.304-.563.72-.997%201.248-1.3.529-.303%201.136-.455%201.82-.455.867%200%201.582.208%202.145.624.572.407.958.992%201.157%201.755h-1.599a1.69%201.69%200%200%200-.624-.832c-.286-.2-.645-.299-1.079-.299-.606%200-1.092.217-1.456.65-.355.425-.533%201.023-.533%201.794%200%20.771.178%201.374.533%201.807.364.433.85.65%201.456.65.858%200%201.426-.377%201.703-1.131h1.6c-.209.728-.599%201.309-1.17%201.742-.573.425-1.283.637-2.133.637-.684%200-1.291-.152-1.82-.455a3.337%203.337%200%200%201-1.248-1.3c-.294-.563-.442-1.213-.442-1.95Zm9.771-2.535c.217-.364.503-.646.858-.845.364-.208.793-.312%201.287-.312v1.534h-.377c-.58%200-1.022.147-1.326.442-.294.295-.442.806-.442%201.534v3.77h-1.482v-7.163h1.482v1.04Zm6.614%206.24a3.71%203.71%200%200%201-1.832-.455%203.373%203.373%200%200%201-1.288-1.3c-.311-.563-.468-1.213-.468-1.95%200-.728.16-1.374.482-1.937.32-.563.758-.997%201.313-1.3a3.81%203.81%200%200%201%201.859-.455%203.81%203.81%200%200%201%201.858.455c.555.303.993.737%201.313%201.3.321.563.482%201.209.482%201.937s-.165%201.374-.494%201.937a3.454%203.454%200%200%201-1.352%201.313%203.885%203.885%200%200%201-1.872.455Zm0-1.287c.382%200%20.737-.091%201.066-.273.338-.182.611-.455.82-.819.207-.364.311-.806.311-1.326s-.1-.958-.299-1.313a2.01%202.01%200%200%200-.793-.819%202.169%202.169%200%200%200-1.066-.273c-.38%200-.736.091-1.066.273-.32.182-.576.455-.767.819-.19.355-.285.793-.285%201.313%200%20.771.194%201.37.584%201.794.4.416.898.624%201.495.624Zm6.665-8.45v9.62h-1.481V7.88h1.481Zm3.428%200v9.62h-1.482V7.88h1.482Z%22%2F%3E%3Cpath%20stroke%3D%22%23ABABAB%22%20stroke-dasharray%3D%222%202%22%20d%3D%22M79.5%2013.5%2089%2023H0%22%2F%3E%3C%2Fsvg%3E") no-repeat center center/contain;
}

.p-photoList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
  margin-bottom: 40px;
}
.p-photoList__item {
  width: calc(50% - 10px);
}
.p-photoList__image {
  width: 100%;
  aspect-ratio: 245/172;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-temp2column {
  border: 1px solid var(--color_gray_2);
  padding: 15px;
  background: #fff;
}
.p-temp2column__title-good, .p-temp2column__title-bulb {
  font-size: clamp(15px, 2.5vw, 19px);
  font-weight: bold;
  border-bottom: 1px dashed var(--color_gray_2);
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.p-temp2column__title-good::before, .p-temp2column__title-bulb::before {
  content: "";
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--color_gray_2);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  .p-temp2column__title-good::before, .p-temp2column__title-bulb::before {
    width: 35px;
    height: 35px;
  }
}
.p-temp2column__title-good::before {
  background-image: url(/img/icon_good.svg);
}
.p-temp2column__title-bulb::before {
  background-image: url(/img/icon_bulb.svg);
}
.p-temp2column__box {
  padding: 15px 0 0;
}

.p-tempAbout__img {
  width: 100%;
  margin-bottom: 16px;
  aspect-ratio: 55/38;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-tempAbout__title {
  padding: 0 24px 24px 24px;
}

.p-tempMenu {
  padding: 80px 0 0 224px;
}
.p-tempMenu__logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 550px;
  height: 180px;
  padding-right: 100px;
  margin: 0 0 112px -224px;
  background-color: #fff;
  border-radius: 0 100px 100px 0;
}
.p-tempMenu__logo-img {
  width: 220px;
  aspect-ratio: 2/1;
}
.p-tempMenu__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  padding-left: 24px;
}
.p-tempMenu__nav-anchor {
  font-size: clamp(14px, 2.333vw, 17px);
  color: #fff;
}

.p-tempPR {
  background: var(--color_bg);
  counter-reset: number 0;
}
.p-tempPR__box {
  margin: 0 0 35px 0;
}
.p-tempPR__title {
  position: relative;
  font-size: clamp(15px, 2.5vw, 19px);
  font-weight: bold;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.p-tempPR__title::before {
  content: "POINT";
  padding: 12px;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: var(--color_key);
  background-size: 100%;
}
.p-tempPR__title::after {
  position: absolute;
  content: "" counter(number);
  counter-increment: number 1;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  width: 65px;
  height: 65px;
  left: 0;
  bottom: -15px;
}
.p-tempPR__text {
  padding: 10px 15px;
}

.p-tempWorks__con {
  display: flex;
  flex-direction: column;
}
.p-tempWorks__box {
  display: flex;
  gap: 17px;
  margin: 0 0 35px 0;
}
@media screen and (max-width: 600px) {
  .p-tempWorks__box {
    flex-direction: column;
  }
}
.p-tempWorks__img img {
  width: 200px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 600px) {
  .p-tempWorks__img img {
    width: 100%;
    height: auto;
  }
}

.u-color--key {
  color: var(--color_key);
}

.u-ff--en {
  font-family: var(--ff-en);
}

.u-fs--13 {
  font-size: 13px;
  line-height: 1.4;
}
.u-fs--17 {
  font-size: 17px;
}

.u-list li {
  line-height: 1.867;
}
.u-list--disc {
  padding-left: 32px;
  list-style: disc;
}

.u-mb--16 {
  margin-bottom: 16px;
}
.u-mb--18 {
  margin-bottom: 18px;
}
.u-mb--40 {
  margin-bottom: 40px;
}

.u-px--40 {
  padding-inline: 40px;
}
.u-px--56 {
  padding-inline: 56px;
}

.u-ta--right {
  text-align: right !important;
}
.u-ta--center {
  text-align: center !important;
}
.u-ta--left {
  text-align: left !important;
}

body {
  font-family: var(--ff-base);
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}

.u-font__title {
  font-family: Noto Sans JP;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 1024px) {
  .u-font__title {
    font-family: Noto Sans JP;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */