@use "../../import" as var;

.u-bg {
  &-color {
    &--gray {
      padding-top: 80px;
      padding-bottom: 40px;
      background-color: var(--color_bg);

      & + & {
        padding-top: 0;
      }
    }
  }
}