@use "../../import" as var;

.u-fs {
  &--13 {
    font-size: 13px;
    line-height: 1.4;
  }

  &--13_14 {
    font-size: var.fs(13, 14);
  }

  &--13_15 {
    font-size: var.fs(13, 15);
  }

  &--14 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
  }

  &--14_15 {
    font-size: var.fs(14, 15);
  }

  &--15 {
    font-size: 15px;
    line-height: 1.4;
  }
  
  &--17 {
    font-size: 17px;
  }

  &--20 {
    font-size: 20px;
  }

  &--24 {
    font-size: 24px;
  }

  &--32 {
    font-size: 32px;
  }

  &--42 {
    font-size: 42px;
  }
}
