@use "../../import" as var;

.p-flow {
  &__box {
    position: relative;
    padding: 20px;
    margin-bottom: 92px;
    background-color: #fff;
    border: 1px solid var(--color-border);

    &::after {
      position: absolute;
      bottom: -64px;
      left: 50%;
      display: block;
      width: 112px;
      height: 36px;
      content: "";
      background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2298%22%20height%3D%2227%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23D9D9D9%22%20d%3D%22M49%2027%20.503%200h96.994L49%2027Z%22%2F%3E%3C%2Fsvg%3E') no-repeat center center / contain;
      transform: translateX(-50%);
    }

    &:nth-last-child(1) {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }
}