@use "../../import" as var;

.p-temp2column {
  border: 1px solid var(--color_gray_2);
  padding: 15px;

  &__title {

    &-good,
    &-bulb {
      font-size: var.fs(15, 19);
      font-weight: bold;
      border-bottom: 1px dashed var(--color_gray_2);
      padding-bottom: 12px;
      display: flex;
      align-items: center;
      gap:8px;

      &::before {
        content: "";
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: var(--color_gray_2);
        background-size:100%;
        background-position: center;
        background-repeat: no-repeat;

        @include var.mq(max, sp) {
          width: 35px;
        height: 35px;
      }
      }
    }

    &-good{
      &::before{
        background-image:url(/img/icon_good.svg);
      }
    }

    &-bulb{
      &::before{
        background-image:url(/img/icon_bulb.svg);
      }
    }
  }

  &__box {
    padding: 15px 0;
  }
}
