@use "../../import" as var;

.p-tempAbout {
  &__img {
    width: 100%;
    aspect-ratio: 55/38;
    object-fit: cover;
  }

  &__title {
    padding: 16px 16px 24px 16px;
    background-color: var(--color_bg);
  }
}