@use "../../import" as var;

.c-btnBox {
  display: flex;
  justify-content: center;
  gap: 16px;
  background: var(--color_main);
  padding: 16px 24px;

  &:not([id*="js-btnTrigger"]) {
    display: none;
  }

  @include var.mq(max, tb) {
    position: sticky;
    bottom: 0;
    left: 0;
    gap: 0;
    width: 100%;
    padding: 0;

    &[id*="js-btnTrigger"] {
      display: none;;
    }

    &:not([id*="js-btnTrigger"]) {
      display: flex;
    }  
  }

  .c-btn {
    flex: 1;

    @include var.mq(max, tb) {
      & + .c-btn {
        border-left: 1px solid #fff;
      }
    }
  }

  &__scroll {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 65px;
    gap:18px;

    &-btn {
      justify-content: flex-start;
      width: 180px;
      border-radius: 0 100px 100px 0;
      padding-left: 20px;
    }
  }
}