@use "../../import" as var;

.c-btnBox {
  display: flex;
  justify-content: space-evenly;
  background: var(--color_main);
  padding: 17px 0;

  &__2 {
    width: 40%;
  }

  &__3 {
    width: 30%;
  }

  &__scroll {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 65px;
    gap:18px;

    &-btn {
      justify-content: flex-start;
      width: 180px;
      border-radius: 0 100px 100px 0;
      padding-left: 20px;
    }
  }
}