@use "../../import" as var;

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color_gray_1);
  color: #fff;
  padding: 10px 0;
  border-radius: 100px;
  cursor: pointer;

  &:hover{
    
  }

  &__fav {
    &::before {
      content: "★";
      color: #fff;
      margin-right: 5px;
    }

    &.js-clip::before {
      color: var(--color_gray_2);
    }
  }

  &__keep {
    &::before {
      content: "★";
      color: #fff;
      margin-right: 5px;
    }

    &.js-clip::before {
      color: var(--color_gray_2);
    }
  }

  &__rec {
    &::before {
      content: "";
      background-image:url("../img/icon_rec.svg");
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  &__form {
    &::before {
      content: "";
      background-image:url("../img/icon_form.svg");
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  &__tel {
    &::before {
      content: "";
      background-image:url("../img/icon_tel.svg");
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}
