 @use "../../import" as var;

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var.fs(12, 16);
  background: var(--color_gray_1);
  color: #fff;
  padding-block: 12.5px;
  border-radius: 100px;
  cursor: pointer;

  @include var.mq(max, tb) {
    flex-direction: column;
    gap: 6px;
    background: var(--color_main);
    border-radius: 0;
  }

  &::before {
    transition: all 300ms ease-in-out;
  }

  &__fav {
    &::before {
      content: "★";
      color: #fff;
      margin-right: 5px;
    }

    &.js-clip::before {
      color: var(--color_gray_2);

      @include var.mq(max, tb) {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  &__keep {
    &::before {
      content: "★";
      color: #fff;
      margin-right: 5px;
    }

    &.js-clip::before {
      color: var(--color_gray_2);

      @include var.mq(max, tb) {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  &__rec {
    &::before {
      content: "";
      background-image:url("../img/icon_rec.svg");
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  &__form {
    &::before {
      content: "";
      background-image:url("../img/icon_form.svg");
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  &__tel {
    &::before {
      content: "";
      background-image:url("../img/icon_tel.svg");
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }

  &__contact-form {
    max-width: 216px;
    height: 48px;
    margin-inline: auto;
    font-size: 19px;
    font-weight: 700;
    background-color: var(--color_key);
    border-radius: 100px;
  }
}
